.main-menu {
  background: #bf2629 !important;
}
.add-new-shipment .btn-new {
  background: #bf2629 !important;
}
.filter-head h2 {
  color: #bf2629 !important;
}
.shipment-status-list h2 {
  background: url('../images/eq-type-icon-red.png') no-repeat 0 0 !important;
}
.shipment-status h2 {
  background: url('../images/eq-type-icon-red.png') no-repeat 0 0 !important;
}
.leftnavbar-wrapper .eq-type h2 {
  background: url('../images/eq-type-icon-red.png') no-repeat 0 0 !important;
}
.customer-info h2 {
  background: url('../images/customer-icon-red.png') no-repeat 0 0 !important;
}
.pricing h2 {
  background: url('../images/pricing-icon-red.png') no-repeat 0 0 !important;
}
.edi-block h2 {
  background: url('../images/edi-icon-red.png') no-repeat 0 0 !important;
}
.date-select h2 {
  background: url('../images/date-icon-red.png') no-repeat 0 0 !important;
}
.leftnavbar-wrapper .service-area h2 {
  background: url('../images/service-area-icon-red.png') no-repeat 0 0 !important;
}
.pricing h2.transit {
  background: url('../images/transit-icon-red.png') no-repeat 0 0 !important;
}
.leftnavbar-wrapper .receivable h2 {
  background: url('../images/receivable-icon-red.png') no-repeat 0 0 !important;
}
.add-new-shipment .input-group-btn .btn-default {
  background: #bf2629 !important;
}
.filter-block h3 {
  color: #bf2629 !important;
}
.showArchieved {
  background: #bf2629 !important;
}
.resp-tabs-list {
  background: #bf2629 !important;
}
.resp-tabs-list li.resp-tab-item {
  color: #fff !important;
}
.resp-tabs-list li.resp-tab-active {
  color: #bf2629 !important;
}
.sky-blue {
  color: #bf2629 !important;
}
.panel-primary > .panel-heading {
  background-color: #bf2629 !important;
  border-color: #bf2629 !important;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #bf2629 !important;
  border-color: #bf2629 !important;
}
.check_calls_textarea button {
  background: linear-gradient(#bb4143, #bf2629) !important;
  border-color: #bf2629 !important;
}
.check_calls_textarea button:hover {
  background: linear-gradient(#bf2629, #bb4143) !important;
}
.inputuploadhld button {
  background: linear-gradient(#bb4143, #bf2629) !important;
  border-color: #bf2629 !important;
}
.inputuploadhld button:hover {
  background: linear-gradient(#bf2629, #bb4143) !important;
}
.btn-cont .btn-primary {
  background: linear-gradient(#bb4143, #bf2629) !important;
  border-color: #bf2629 !important;
}
.btn-cont .btn-primary:hover {
  background: linear-gradient(#bf2629, #bb4143) !important;
}
.lancecount_table td button {
  background: linear-gradient(#bb4143, #bf2629) !important;
  border-color: #bf2629 !important;
}
.lancecount_table td button:hover {
  background: linear-gradient(#bf2629, #bb4143) !important;
}
.expiring_contracts .dropdown button {
  background: linear-gradient(#bb4143, #bf2629) !important;
  border-color: #bf2629 !important;
}
.expiring_contracts .dropdown button:hover {
  background: linear-gradient(#bf2629, #bb4143) !important;
}
.contract_buttons .download_excel {
  background: linear-gradient(#bb4143, #bf2629) !important;
  border-color: #bf2629 !important;
}
.contract_buttons .download_excel:hover {
  background: linear-gradient(#bf2629, #bb4143) !important;
}
.contract_table .upload_rate button {
  background: linear-gradient(#bb4143, #bf2629) !important;
  border-color: #bf2629 !important;
}
.contract_table .upload_rate button:hover {
  background: linear-gradient(#bf2629, #bb4143) !important;
}
.leftnavbar-wrapper .input-group-btn .btn-default {
  background: #bf2629 !important;
}
.contract_table .file_upload button {
  background: linear-gradient(#bb4143, #bf2629) !important;
  border-color: #bf2629 !important;
}
.contract_table .file_upload button:hover {
  background: linear-gradient(#bf2629, #bb4143) !important;
}
.load_entry_top .mid_row .mid_row_inner .input-group-btn .btn-default {
  background: #bf2629 !important;
}
.load_entry_mid .mid_box .mid_box_head button {
  background: linear-gradient(#bb4143, #bf2629) !important;
  border-color: #bf2629 !important;
}
.load_entry_mid .mid_box .mid_box_head button:hover {
  background: linear-gradient(#bf2629, #bb4143) !important;
}
.load_entry_mid .mid_box .mid_box_body .input-group-btn .btn-default {
  background: #bf2629 !important;
}
.rate_test .table-responsive table td .download_excel {
  background: linear-gradient(#bb4143, #bf2629) !important;
  border-color: #bf2629 !important;
}
.rate_test .table-responsive table td .download_excel:hover {
  background: linear-gradient(#bf2629, #bb4143) !important;
}
.receivable_top .btn-primary {
  background: linear-gradient(#bb4143, #bf2629) !important;
  border-color: #bf2629 !important;
}
.receivable_top .btn-primary:hover {
  background: linear-gradient(#bf2629, #bb4143) !important;
}
.scan_check .btn-primary {
  background: linear-gradient(#bb4143, #bf2629) !important;
  border-color: #bf2629 !important;
}
.scan_check .btn-primary:hover {
  background: linear-gradient(#bf2629, #bb4143) !important;
}
.reg_steps li.active span {
  background-color: #bf2629 !important;
}
.connect_buttons .btn-primary {
  background: linear-gradient(#bb4143, #bf2629) !important;
  border-color: #bf2629 !important;
}
.connect_buttons .btn-primary:hover {
  background: linear-gradient(#bf2629, #bb4143) !important;
}
.setup_connectivity .connectivity_box .connection_status .btn-primary {
  background: linear-gradient(#bb4143, #bf2629) !important;
  border-color: #bf2629 !important;
}
.setup_connectivity .connectivity_box .connection_status .btn-primary:hover {
  background: linear-gradient(#bf2629, #bb4143) !important;
}
.menu-search .input-group-btn .btn-default {
  background: #840003 !important;
  border-color: #840003 !important;
}
.slide-range .irs-bar {
  background: #bf2629 !important;
  border-color: #bf2629 !important;
}
.career-table td button {
  background: linear-gradient(#bb4143, #bf2629) !important;
  border-color: #bf2629 !important;
}
.career-table td button:hover {
  background: linear-gradient(#bf2629, #bb4143) !important;
}
.panel-primary {
  border-color: #bf2629 !important;
}
.tab-hld {
  border-color: #bf2629 !important;
}
.carrier-tab .row .form-group button {
  background: linear-gradient(#bb4143, #bf2629) !important;
  border-color: #bf2629 !important;
}
.carrier-tab .row .form-group button:hover {
  background: linear-gradient(#bf2629, #bb4143) !important;
}
.toggle-menu {
  color: #fff !important;
  background: url('../images/filter-menu.png') no-repeat 0 0;
}
.main-menu .navbar-nav > li > a {
  color: #fff !important;
}
.main-menu .navbar-nav > li > a:hover {
  color: #eac510 !important;
}
.icon-set {
  background-image: url('../images/sprite.png') !important;
}
.panel-title {
  color: #fff !important;
}
.dashboard_top {
  background: #bf2629 !important;
}
.career_search .input-group-btn .btn-default,
.customer_searech .input-group-btn .btn-default {
  background: #bf2629 !important;
  border-color: #bf2629 !important;
}
.balance_list li.credit {
  color: #000;
}
.skipper_side {
  background: #bf2629 !important;
}
.skipper_side h2 {
  border-color: #fff !important;
}
.skipper_side h2 a {
  background: url(../images/skipper_head_drop_white.png) 95% 50% no-repeat #991e20 !important;
}
.skipper_side h2 a.drop {
  background: url(../images/skipper_head_drop_down_white.png) 95% 50% no-repeat #991e20 !important;
}
.skipper_side .skipper_side_content label {
  color: #fff !important;
}
.skipper_side .skipper_side_content .bill_count,
.skipper_side .skipper_side_content table.image_table th,
.skipper_side .skipper_side_content .add_img {
  color: #fff !important;
}
.skipper_side .skipper_side_content table.image_table td,
.skipper_side .skipper_side_content table.image_table td a {
  color: #b9c9df !important;
}
.skipper_side .skipper_side_content .moreBtnCont button,
.skipper_side .skipper_side_content .addBtnCont button {
  background: linear-gradient(#991e20, #6d1618) !important;
  border: #991e20 1px solid;
}
.skipper_side .skipper_side_content .moreBtnCont button:hover,
.skipper_side .skipper_side_content .addBtnCont button:hover {
  background: linear-gradient(#6d1618, #991e20) !important;
}
#moreDetails .modal-header h2 {
  background-color: #991e20 !important;
}
.skippers_top {
  background-color: #bf2629 !important;
}
.skippers_top .skipper_top_box {
  border-color: #c14043 !important;
}
.skippers_top .skipper_top_box.second {
  background-color: #cf0f13 !important;
}
.skippers_top .skipper_top_box.last {
  background-color: #c40f12 !important;
}
.bills_list li.edi {
  background-color: #ac0a0e !important;
}
.bills_list li.manual {
  background-color: #af1114 !important;
}
.bills_list li.total {
  background-color: #870205 !important;
}
.main-menu .open_dashboard {
  background-image: url('../images/dashboard_open.png') !important;
}
.main-menu .open_dashboard.open {
  background-image: url('../images/dashboard_open_up.png') !important;
}
.tab-hld .gray-box h3,
.shipping_product .accessorial h3,
.load_entry_mid .violet_box h3,
.load_entry_top .credit_limit .credit_limit_inner h3 {
  background-color: #bf2629 !important;
}
.add_stop h3 a {
  background: url('../images/minus-red.png') 0 0 no-repeat;
}
.add_stop h3 a.collapsed {
  background: url('../images/plus-red.png') 0 0 no-repeat;
}
.add_stop .table-responsive table td .input-group-btn .btn-default {
  background: #bf2629 !important;
  border-color: #bf2629 !important;
}
.filter-head.res_reeor_block h2 {
  background-color: #bf2629 !important;
  color: #fff !important;
}
.res_error_table table th {
  background-color: #bf2629 !important;
  color: #fff !important;
}
.res_error_table table td .dropdown-menu .title {
  background-color: #bf2629 !important;
  color: #fff !important;
}
.res_error_bot h3 .plus_icon {
  background: url(../images/plus_icon_red.png) 0 0 no-repeat;
}
.res_error_bot h3 .minus_icon {
  background: url(../images/minus_icon_red.png) 0 0 no-repeat;
}
.btn-blue,
#moreDetails .modal-body .blue_button,
.contract_buttons .download_excel,
.contract_buttons .dropdown-toggle {
  background: linear-gradient(#bb4143, #bf2629) !important;
  border-color: #bf2629 !important;
}
.btn-blue:hover,
#moreDetails .modal-body .blue_button:hover,
.contract_buttons .download_excel:hover,
.contract_buttons .dropdown-toggle:hover {
  background: linear-gradient(#bf2629, #bb4143) !important;
}
.contract_table table.blue th {
  background: linear-gradient(#bb4143, #bf2629) !important;
}
#moreDetails.blue .modal-header h2 {
  background: linear-gradient(#bb4143, #bf2629) !important;
}
.modal.blue .modal-header h2{ background: rgba(0, 0, 0, 0) linear-gradient(#bb4143, #bf2629) repeat scroll 0 0 !important;}
.ship-location .input-group .input-group-btn .btn-default{background: rgba(0, 0, 0, 0) linear-gradient(#bb4143, #bf2629) repeat scroll 0 0 !important;
    color: #fff; border-color:#EDEDED;
  }
.btn-primary {background: rgba(0, 0, 0, 0) linear-gradient(#bb4143, #bf2629) repeat scroll 0 0 !important; border-color: #bb4143;}
.custom-arrow-in{background:url(../images/eq-type-icon-red.png) no-repeat 0 0; }
.career-table th {background-color: #bf2629;}
.cl-header{ background-color:#bf2629;}
/*# sourceMappingURL=style-red.css.map */