<form name="accsTariff_{{indexKey}}" novalidate>
    <div class="div-table-body-box-1 div-table-box">
        <label ng-show="rates.id"><input type="checkbox" ng-model="editEnabled" ng-true-value="1" ng-false-value="0"> &nbsp; Edit</label>
    </div>
    <div class="div-table-body-box-2 div-table-box">
        <div class="contractedAccsTariff-minume-charge">
        <select ng-options="item.id as item.accsname for item in accsTypes" ng-model="rates.accsID" ng-disabled="!editEnabled" required></select>
        </div>
    </div>
    <div class="div-table-body-box-3 div-table-box">
        <div class="contractedAccsTariff-minume-charge">
            <input type="text" ng-model="rates.crraccs_minrate"  ng-disabled="!editEnabled" required />
        </div>
    </div>
    <div class="div-table-body-box-4 div-table-box">
        <div class="contractedAccsTariff-minume-charge">
            <input type="text" ng-model="rates.crraccs_rate" ng-disabled="!editEnabled" required />
        </div>
    </div>
    <div class="div-table-body-box-5 div-table-box">
        <select ng-options="crr.id as crr.ratetype for crr in calcTypes" ng-model="rates.crraccs_type" ng-disabled="!editEnabled" required></select>
    </div>
    <div class="div-table-body-box-6 div-table-box">
        <input type="checkbox" ng-model="rates.crraccs_addbydefault" ng-disabled="!editEnabled" />
    </div>
    <div class="div-table-body-box-7 div-table-box">
        <div class="contractedAccsTariff-minume-charge">
            <datepickerkb date-format="yyyy-MM-dd">
                <input ng-model="rates.crraccs_effectivefrom" type="text" ng-disabled="!editEnabled" required/>
            </datepickerkb>
        </div>
    </div>
    <div class="div-table-body-box-8 div-table-box">
        <input class="button-simple-link" type="button" ng-disabled="accsTariff_{{indexKey}}.$invalid" ng-show="editEnabled" ng-click="updateInfo()" value="Save" />
        <input class="button-simple-link" type="button" ng-show="editEnabled" ng-click="deleteInfo(rates.id)" value="Delete" />
    </div>
    <div class="clearfix"></div>
</form>