<div class="clearfix">
	<div class="col-md-6 col-lg-6">
		<div class="form-group">
			<label><input type="radio" name="defaultRateAccs" ng-model="defaultRateAccs" value="1" />I would like to use rules tariff</label>
		</div>
	</div>
	<div class="col-md-6 col-lg-6">
		<div class="form-group">
			<label><input type="radio" name="defaultRateAccs" ng-model="defaultRateAccs" value="0" /> I like to use my contracted accessorial</label>
		</div>
	</div>
</div>
<div class="panel-group custom-accordion" id="accordion-accs" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="defaultTariff">
      <h4 class="panel-title">
        <a ng-class="{'collapsed': defaultRateAccs != undefined && defaultRateAccs == 0}" role="button" data-toggle="collapse" data-parent="#accordion-accs" href="#defaultTariffContent" aria-expanded="true" aria-controls="defaultTariffContent">
         I would like to use rules tariff
        </a>
      </h4>
    </div>
    <div id="defaultTariffContent" class="panel-collapse collapse" ng-class="{'in' : defaultRateAccs == undefined || defaultRateAccs == 1}" role="tabpanel" aria-labelledby="defaultTariff">
      <div class="panel-body">
        <div class="table-responsive">
        <table class="table table-stripped">
			<tr>
				<th align="center">Accessorial</th>
				<th align="center">Minimum Charge</th>
				<th align="center">Charge</th>
				<th align="center">Charge Type</th>
			</tr>
			<tr ng-repeat="rate in defaultRates">
				<td align="center">{{rate.accs_type.accsname}}</td>
				<td align="center">{{rate.crraccs_minrate}}</td>
				<td align="center">{{rate.crraccs_rate}}</td>
				<td align="center">{{rate.rate.ratetype}}</td>
			</tr>
			<tr ng-show="!defaultRates.length">
				<td colspan="4"><strong>No record found</strong></td>
			<tr>
		</table>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="contractedAccsTariff">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion-accs" href="#contractedAccsTariffContent" aria-expanded="false" aria-controls="contractedAccsTariffContent" ng-class="{'collapsed': defaultRateAccs != undefined && defaultRateAccs == 1}">
          I like to use my contracted fuel
        </a>
      </h4>
    </div>
    <div id="contractedAccsTariffContent" class="panel-collapse collapse" ng-class="{'in' : defaultRateAccs != undefined && defaultRateAccs == 0}" role="tabpanel" aria-labelledby="contractedAccsTariff">
      <div class="panel-body">
      	<div class="row">
      		<div class="col-md-12 col-sm-12 col-lg-12">
      			<div class="row">
      				<div class="table-responsive"  style="padding:0;">
      					<table class="table table-stripped" style="margin-bottom:0;">
							<tr>
								<td>
									<label for="acc-filter" style="width:100%;">Accessorial</label>
									<select id="acc-filter" ng-options="item.id as item.accsname for item in accsTypes" ng-model="filter.type"></select>
								</td>
								<td>
									<label for="acc-effective-start" style="width:100%;">Effective from </label>
									<datepickerkb date-format="yyyy-MM-dd">
  										<input ng-model="filter.fromDate" type="text" id="acc-effective-start" />
									</datepickerkb>
								</td>
								<td>
									<label for="acc-effective-end" style="width:100%;">Effective to </label>
									<datepickerkb date-format="yyyy-MM-dd">
  										<input ng-model="filter.toDate" type="text" id="acc-effective-end" />
									</datepickerkb>
								</td>
								<td>
									<button class="btn" ng-click="filterTariff()">Filter</button>
								</td>
							</tr>
						</table>
      				</div>
      			</div>
      			<div class="row">
      				<div class="div-table-responsive">
		      			<div class="div-table">
							<div class="div-table-header">
								<div class="div-table-header-box-1 div-table-box">&nbsp;</div>
								<div class="div-table-header-box-2 div-table-box">Accessorial</div>
								<div class="div-table-header-box-3 div-table-box">Minimum Charge</div>
								<div class="div-table-header-box-4 div-table-box">Charge</div>
								<div class="div-table-header-box-5 div-table-box">Charge Type</div>
								<div class="div-table-header-box-6 div-table-box">Include By Default</div>
								<div class="div-table-header-box-7 div-table-box">Effective From</div>
								<div class="div-table-header-box-8 div-table-box">Action</div>
                                <div class="clearfix"></div>
							</div>
                            <div class="clearfix"></div>
							<div class="div-table-body"> 
                            	<div ng-repeat="rate in customRates" class="custom-accs-tariff-editable" saved-value="rate" accs-types="accsTypes" calc-types="calcTypes" edit-enabled="rate.editEnabled" data-index-key="{{ $index }}"></div>
                            </div>
                            <div class="clearfix"></div>
						</div>
					</div>
      			</div>
      		</div>
      	</div>
      	<div class="row">
      		<div class="col-md-12 col-sm-12 col-lg-12">
      			<div class="pull-right">
      				<button class="btn btn-default btn-inline" ng-click="addNewRate()">Add Accessorial</button>
      				<button class="btn btn-default btn-inline" ngf-select ngf-change="uploadAccessorial($files)" accept=".csv">Upload Accessorial</button>
      			</div>
      		</div>
      	</div>
		<div class="row">
			<div class="pull-right">
				<div class="alert alert-dismissible" role="alert" ng-class="{'alert-danger' : uploadError, 'alert-success': uploadSuccess }" ng-show="uploadSuccess || uploadError">
				  <button type="button" class="close" ng-click="resetUploadNotification()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <span ng-show="uploadSuccess">{{uploadSuccess}}</span>
				<span ng-show="uploadError">{{uploadError}}</span>
				</div>
				<span ng-show="uploadProgress">{{uploadProgress}}</span>
			</div>
		</div>
      </div>
    </div>
  </div>
</div>
