 <div class="modal-dialog" role="document">
	<form name="addCarrierForm" id="add-carrier-form" enctype="multipart/form-data" novalidate>
    <div class="modal-content modal-dialog modal-lg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Carrier</h4>
      </div>
      <div class="modal-body">
        <div class="contract_table">
            	<div id="horizontalTab1" class="tab-hld">
                  <ul class="resp-tabs-list">
                    <li>Carrier</li>
                  </ul>
                  <div class="resp-tabs-container">
                      <div class="tab-content">
                          <div class="carrier-tab">
                              <div class="row">
                                  <div class="col-lg-3">
                                      <div class="form-group">
                                          <label for="">SCAC / Carrier Code</label>
                                          <input type="text" class="form-control" id="scac" name="scac" placeholder="SCAC / Carrier Code" ng-model="addCarrier.scac" required>
                                      </div>
                                      <div class="form-group">
                                          <label for="">Carrier Name</label>
                                          <input type="text" class="form-control" id="" placeholder="">
                                      </div>
                                      <div class="form-group">
                                          <label for="">Address Line 1</label>
                                          <input type="text" class="form-control" id="" placeholder="">
                                      </div>
                                      <div class="form-group">
                                          <label for="">Address Line 2</label>
                                          <input type="text" class="form-control" id="" placeholder="">
                                      </div>
                                      <div class="form-group">
                                          <label for="">Country*</label>
                                          <input type="text" class="form-control" id="" placeholder="">
                                      </div>
                                      <div class="state_cont">
                                          <div class="form-group">
                                              <label for="">State*</label>
                                              <input type="text" class="form-control" id="" placeholder="">
                                          </div>
                                          <div class="form-group">
                                              <label for="">City*</label>
                                              <input type="text" class="form-control" id="" placeholder="">
                                          </div>
                                          <div class="form-group last">
                                              <label for="">Postal*</label>
                                              <input type="text" class="form-control" id="" placeholder="">
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-3">
                                      <div class="form-group">
                                          <label for="">MC#</label>
                                          <input type="text" class="form-control" id="" placeholder="">
                                      </div>
                                      <div class="form-group">
                                          <label for="">Contact Email</label>
                                          <input type="email" class="form-control" id="" placeholder="">
                                      </div>
                                      <div class="form-group">
                                          <label for="">Contact Phone</label>
                                          <input type="email" class="form-control" id="" placeholder="">
                                      </div>
                                      <div class="form-group">
                                          <label for="">FAX</label>
                                          <input type="email" class="form-control" id="" placeholder="">
                                      </div>
                                      <div class="form-group">
                                          <button type="button" class="btn btn-primary">Upload Logo</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
        	</div>
      </div>
      <div class="modal-footer">
        <div class="btn-cont">
                      <button  type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <button  type="button" class="btn btn-primary" ng-disabled="submitNewCarrier.$invalid" ng-click="submitNewCarrier(addCarrierForm)">Save</button>
        </div>
      </div>
    </div>
	</form>
  </div>