 <div class="modal-header">
            <h3 class="modal-title">Email The Shipment</h3>
        </div>
        <div class="modal-body">
                   <strong>Email : </strong>
                   <input type="email" name="print_email" ng-model="user.email" style="width:400px; height:45px;"> 
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="">Send</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>