<div class="clearfix">
	<div class="col-md-6 col-lg-6">
		<div class="form-group">
			<label><input type="radio" name="defaultRateFuel" ng-model="defaultRateFuel" value="1" />I would like to use rules tariff</label>
		</div>
	</div>
	<div class="col-md-6 col-lg-6">
		<div class="form-group">
			<label><input type="radio" name="defaultRateFuel" ng-model="defaultRateFuel" value="0" /> I like to use my contracted fuel</label>
		</div>
	</div>
</div>
<div class="panel-group custom-accordion" id="accordion-fuel" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a ng-class="{'collapsed': defaultRateFuel != undefined && defaultRateFuel == 0}" role="button" data-toggle="collapse" data-parent="#accordion-fuel" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         I would like to use rules tariff
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" ng-class="{'in' : defaultRateFuel == undefined || defaultRateFuel == 1}" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      	<div class="row">
      		<div class="col-md-12 col-sm-12 col-lg-12">
      			<div class="row">
					<div class="table-responsive" style="padding:0;">
						<table class="table table-stripped" style="margin-bottom:0;">
							<tr>
								<th align="center" style="text-align:center !important;">From ($)</th>
								<th align="center" style="text-align:center !important;">To ($)</th>
								<th align="center" style="text-align:center !important;">LTL</th>
								<th align="center" style="text-align:center !important;">TL</th>
							</tr>
							<tr ng-repeat="rate in defaultRates">
								<td align="center">{{rate.rangefrom}}</td>
								<td align="center">{{rate.rangeto}}</td>
								<td align="center">{{rate.LTLRate}}</td>
								<td align="center">{{rate.TLRate}}</td>
							</tr>
							<tr ng-show="!defaultRates.length">
								<td colspan="4"><strong>No record found</strong></td>
							</tr>
						</table>
					</div>
      			</div>
      		</div>
   		</div>
  </div>
</div>
</div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a ng-class="{'collapsed' : defaultRateFuel != undefined && defaultRateFuel == 1}" role="button" data-toggle="collapse" data-parent="#accordion-fuel" href="#contractedFuel" aria-expanded="false" aria-controls="contractedFuel">
          I like to use my contracted fuel
        </a>
      </h4>
    </div>
    <div id="contractedFuel" class="panel-collapse collapse" ng-class="{'in' : defaultRateFuel != undefined && defaultRateFuel == 0}" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
      	<div class="row">
      		<div class="col-md-12 col-sm-12 col-lg-12">
      			<div class="row">
      				<div class="table-responsive">
      					<table class="table table-stripped">
							<tr>
								<td>
									<div class="contractedFuel-select-dropdoen">
										<label for="fuel-filter" style="width:auto;">Fuel Type</label>
                                    	<select ng-options="ft.id as ft.fuelType for ft in fuelTypes" ng-model="filter.type" id="fuel-filter"></select>
									</div>
                                </td>
								<td>
									<label for="fuel-effective-start" style="width:auto;">Effective from </label>
									<datepickerkb date-format="yyyy-MM-dd">
  										<input ng-model="filter.fromDate" type="text" id="fuel-effective-start" style="max-width:150px;" />
									</datepickerkb>
								</td>
								<td>
									<label for="fuel-effective-end" style="width:auto;">Effective to </label>
									<datepickerkb date-format="yyyy-MM-dd">
  										<input ng-model="filter.toDate" type="text" id="fuel-effective-end" style="max-width:150px;" />
									</datepickerkb>
								</td>
								<td>
									<div style="margin:0 0 5px 0;">Amount Range </div>
									<div class="contractedFuel-select-dropdoen" style="min-width:256px;">
										<label for="fuel-filter-amount-from" style="display:inline;">From ($)</label>
                                    	<input ng-model="filter.amountFrom" type="number" id="fuel-filter-amount-from" style="width:30%" />
                                    	<label for="fuel-filter-amount-to" style="display:inline;">To ($)</label>
                                    	<input ng-model="filter.amountTo" type="number" id="fuel-filter-amount-to" style="width:30%" />
									</div>
                                </td>
                               
								<td>
									<button class="btn" ng-click="filterTariff()" style="margin-bottom:0;">Filter</button>
								</td>
							</tr>
						</table>
      				</div>
      			</div>
      			<div class="row">
					<div class="div-table-responsive">
				        <div class="div-table div-table-2">
							<div class="div-table-header">
								<div class="div-table-header-box-1 div-table-box">&nbsp;</div>
								<div class="div-table-header-box-2 div-table-box">Fuel Type</div>
								<div class="div-table-header-box-3 div-table-box">From ($)</div>
								<div class="div-table-header-box-4 div-table-box">To ($)</div>
								<div class="div-table-header-box-5 div-table-box">LTL (%)</div>
								<div class="div-table-header-box-6 div-table-box">TL (%)</div>
								<div class="div-table-header-box-7 div-table-box">Effective From</div>
								<div class="div-table-header-box-8 div-table-box">Action</div>
                                <div class="clearfix"></div>
							</div>
                            <div class="clearfix"></div>
                            <div class="div-table-body">
								<div ng-repeat="rate in customRates" class="custom-fuel-tariff-editable" saved-value="rate" fuel-types="fuelTypes" edit-enabled="rate.editEnabled" data-index-key="{{ $index }}"></div>
                            </div>
                            <div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="row">
		      		<div class="col-md-12 col-sm-12 col-lg-12">
		      			<div class="pull-right">
		      				<button class="btn btn-default btn-inline" ng-click="addNewRate()">Add Fuel</button>
		      				<button class="btn btn-default btn-inline" ngf-select ngf-change="uploadFuel($files)" accept=".csv">Upload Fuel</button>
		      			</div>
		      		</div>
      			</div>
				<div class="row">
					<div class="pull-right">
						<div class="alert alert-dismissible" role="alert" ng-class="{'alert-danger' : uploadError, 'alert-success': uploadSuccess }" ng-show="uploadSuccess || uploadError">
						  <button type="button" class="close" ng-click="resetUploadNotification()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						  <span ng-show="uploadSuccess">{{uploadSuccess}}</span>
						<span ng-show="uploadError">{{uploadError}}</span>
						</div>
						<span ng-show="uploadProgress">{{uploadProgress}}</span>
					</div>
				</div>
			</div>
      </div>
    </div>
  </div>
</div>
</div>