<form name="fuelTariff_{{indexKey}}" novalidate>
    <div class="div-table-body-box-1 div-table-box">
        <label  ng-show="ftrates.id"><input type="checkbox" ng-model="editEnabled" ng-true-value="1" ng-false-value="0"> &nbsp; Edit</label>
    </div>
    <div class="div-table-body-box-2 div-table-box">
        <div class="contractedAccsTariff-minume-charge">
            <select ng-options="ft.id as ft.fuelType for ft in fuelTypes" ng-model="ftrates.fuelType" ng-disabled="!editEnabled" required></select>
        </div>
    </div>
    <div class="div-table-body-box-3 div-table-box">
        <div class="contractedAccsTariff-minume-charge">
            <input type="text" ng-model="ftrates.rangefrom"  ng-disabled="!editEnabled" required />
        </div>
    </div>
    <div class="div-table-body-box-4 div-table-box">
        <div class="contractedAccsTariff-minume-charge">
            <input type="text" ng-model="ftrates.rangeto"  ng-disabled="!editEnabled" required />
        </div>
    </div>
    <div class="div-table-body-box-5 div-table-box">
        <div class="contractedAccsTariff-minume-charge">
            <input type="text" ng-model="ftrates.LTLRate"  ng-disabled="!editEnabled" required />
        </div>
    </div>
    <div class="div-table-body-box-6 div-table-box">
        <div class="contractedAccsTariff-minume-charge">
            <input type="text" ng-model="ftrates.TLRate"  ng-disabled="!editEnabled" required />
        </div>
    </div>
    <div class="div-table-body-box-7 div-table-box">
        <div class="contractedAccsTariff-minume-charge">
            <datepickerkb date-format="yyyy-MM-dd">
                <input ng-model="ftrates.effectivefrom" type="text" ng-disabled="!editEnabled" required />
            </datepickerkb>
        </div>
    </div>
    <div class="div-table-body-box-8 div-table-box">
        <input class="button-simple-link" type="button" ng-disabled="fuelTariff_{{indexKey}}.$invalid" ng-click="updateInfo()" ng-if="editEnabled"value="Save"> &nbsp;
        <input class="button-simple-link" type="button" ng-click="deleteInfo(ftrates.id)" ng-if="editEnabled" value="Delete">
    </div>
    <div class="clearfix"></div>
</form>