<div class="checkbox">
  	<label><input type="checkbox" ng-model="apiEnabledCarrierOnly">Display API Carrier Only</label>
</div>
<div class="table-responsive">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table lancecount_table table-striped  table-bordered">
	  <tbody>
		<tr ng-repeat="carrier in selectedCarrierList | filter:sortByApiEnabledCarrier">
		  <td width="50%">
		  	<a href="" ng-if="carrier.apiEnabled == 1" ng-click="visibleCarrierApiSetup(carrier.id, carrier.scac)">{{carrier.name}}</a>
			<a href="" ng-click="visibleCarrierContract($index)" ng-if="carrier.apiEnabled == 0">{{carrier.name}}</a>
		  </td>
		   <td width="10%">
			<img src="/images/connection-status-icon-red.png" alt="{{carrier.name}}" style="max-width: 25px;" ng-if="carrier.apiEnabled == 1 && carrier.connectivity==0">
			<img src="/images/connection-status-icon.png" alt="{{carrier.name}}" style="max-width: 25px;" ng-if="carrier.apiEnabled == 1 && carrier.connectivity==1">
			<img src="/images/connection-status-icon-disable.png" alt="{{carrier.name}}" style="max-width: 25px;" ng-if="carrier.connectivity===undefined && carrier.apiEnabled == 1">
			<img src="/images/not_available.png" alt="{{carrier.name}}" style="max-width: 25px;" ng-if="carrier.apiEnabled == 0">
		  </td>
		  <td width="40%" align="right">
			<a href="" ng-if="carrier.apiEnabled == 1" ng-click="visibleCarrierApiSetup(carrier.id, carrier.scac)">Setup API</a>
			<a href="" ng-click="visibleCarrierContract($index)" ng-if="carrier.apiEnabled == 0">Setup Contract</a>
		  </td>
		</tr>
	  </tbody>
	</table>
</div>