<div class="col-lg-3" ng-repeat="result in selectedCarrierList" ng-init="carrierData.push(result.id); carrierData[result.id] = {setupId: result.setupId, contractFileId: result.contractFileId, url: result.contractFileUrl, message: '', error: false, alert: false}">
  <form name="carrier_{{$index}}" id="carrier_{{$index}}" data-index="{{$index}}" data-setupid="{{carrierData[result.id].setupId}}" data-docid="{{carrierData[result.id].contractFileId}}">
  <input type="hidden" id="carrier_id_{{$index}}" name="carrier_id_{{$index}}" value="{{ result.id }}" />
  <input type="text" name="assignmentId_{{$index}}" id="assignmentId_{{$index}}" ng-model="result.assignmentId" style="display:none"/>
  <input type="hidden" name="step_{{$index}}" id="step_{{$index}}" value="saveCarrierContractSetup" />
  <div class="map_carrier_bottom_box">
      <div class="top_links">
          <ul>
              <li>
                <button class="" ng-click="deleteCarrierProvider($index)" id="delete_{{$index}}" type="button"><i class="fa fa-trash-o"></i></button>
                <!-- <a href="#" class="delete" data-toggle="tooltip" data-placement="bottom" title="Delete">Delete</a> -->
              </li>
              <li>
                <!-- <a href="#" class="save" data-toggle="tooltip" data-placement="bottom" title="Save">Save</a> -->
                <button class="" ng-disabled="carrier_{{$index}}.$pristine || carrier_{{$index}}.$invalid" ng-click="submitCarrierContractInfo($index, carrierData[result.id].setupId, carrierData[result.id].contractFileId)" id="submit_{{$index}}"><i class="fa fa-floppy-o"></i></button>
              </li>
            </ul>
        </div>
        <div class="carrier_info">
          <div class="logo">
              <img src="images/no_image.png" alt="{{ result.name }}" ng-src="{{ result.logo }}" />
            </div>
            <div class="address">
              <p><span>{{ result.name }}</span>
               {{ result.address1 }}<br>
                {{ result.city}}, {{ result.state}} {{ result.postal}} <br>
                <strong>Hours</strong> Mon-Sat {{result.startTime}} - {{result.endTime}} EST</p>
                <p class="api" ng-if="result.apiEnabled == 1">API Carrier</p>
                <p class="api" ng-if="result.apiEnabled == 0">NON API Carrier</p>
            </div>
        </div>
        <div class="contact_info">
          <h3>Update my contact with {{result.name}}</h3>
            <div class="form-group" ng-class="{'has-error' : carrier_{{$index}}.userid_{{$index}}.$dirty && carrier_{{$index}}.userid_{{$index}}.$invalid}">
                <label>Carrier Website User ID</label>
                <input type="text" name="userid_{{$index}}" id="userid_{{$index}}" class="form-control" placeholder="user name" ng-model="result.apiUserName" ng-required="result.apiEnabled == 1" ng-disabled="result.apiEnabled == 0">
                <span class="help-block" ng-show="carrier_{{$index}}.userid_{{$index}}.$dirty && carrier_{{$index}}.userid_{{$index}}.$invalid">
                  <span ng-show="carrier_{{$index}}.userid_{{$index}}.$error.required">User ID is required.</span>
                </span>
            </div>
            <div class="form-group" ng-class="{'has-error' : carrier_{{$index}}.password_{{$index}}.$dirty && carrier_{{$index}}.password_{{$index}}.$invalid}">
                <label>Carrier Website Password</label>
                <input type="password" name="password_{{$index}}" id="password_{{$index}}" class="form-control" placeholder="password" ng-model="result.apiPassword" ng-required="result.apiEnabled == 1" ng-disabled="result.apiEnabled == 0">
                <span class="help-block" ng-show="carrier_{{$index}}.password_{{$index}}.$dirty && carrier_{{$index}}.password_{{$index}}.$invalid">
                  <span ng-show="carrier_{{$index}}.password_{{$index}}.$error.required">Password is required.</span>
                </span>
            </div>
            <div class="form-group">
              <label>Don't have User ID and Password? Would you like to load contract Manually (Upload Carrier Contract)</label>
                <div class="panel-heading">
                  <h3>Upload Carrier Contract</h3>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                      <button class="btn btn-primary" type="button" ngf-select ngf-change="uploadContract($files, result.id, carrierData[result.id].setupId, carrierData[result.id].contractFileId)" accept="application/pdf">Upload</button>
                    </div>
                    <div class="col-sm-8" ng-if="carrierData[result.id].contractFileId">
                      <p><span class="file-type-icon"><i class="fa fa-file-text-o"></i></span> <span><a ng-href="{{carrierData[result.id].url}}" target="_blank">Carrier Contract</a></span>
                      <a href="javascript:;" ng-click="deleteContractFile(result.id, carrierData[result.id].contractFileId)"><img src="images/delete-icon.png" alt="Delete" /></a>
                    </div> 
                </div>
                <div class="row" ng-show="carrierData[result.id].alert">
                    <div class="col-sm-12">
                        <div role="alert" class="alert alert-dismissible fade in" ng-class="{'alert-danger' : carrierData[result.id].error, 'alert-success': !carrierData[result.id].error}">
                            <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                            <strong ng-if="carrierData[result.id].error">Error!</strong>
                            <strong ng-if="!carrierData[result.id].error">Success!</strong>
                            {{carrierData[result.id].message}}.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </form>
</div>