<div class="col-lg-3" ng-repeat="result in selectedCarrierList">
  <form name="carrier_{{$index}}" id="carrier_{{$index}}" data-index="{{$index}}">
  <input type="hidden" id="carrier_id_{{$index}}" name="carrier_id_{{$index}}" value="{{ result.id }}" />
  <input type="text" name="assignmentId_{{$index}}" id="assignmentId_{{$index}}" ng-model="result.assignmentId" style="display:none"/>
  <input type="hidden" name="step_{{$index}}" id="step_{{$index}}" value="saveCarrierContact" />
  <div class="map_carrier_bottom_box">
      <div class="top_links">
          <ul>
              <li>
                <button class="" ng-click="deleteCarrierProvider($index)" id="delete_{{$index}}" type="button"><i class="fa fa-trash-o"></i></button>
                <!-- <a href="#" class="delete" data-toggle="tooltip" data-placement="bottom" title="Delete">Delete</a> -->
              </li>
              <li>
                <!-- <a href="#" class="save" data-toggle="tooltip" data-placement="bottom" title="Save">Save</a> -->
                <button class="" ng-disabled="carrier_{{$index}}.$pristine || carrier_{{$index}}.$invalid" ng-click="submitCarrierInfo($index)" id="submit_{{$index}}"><i class="fa fa-floppy-o"></i></button>
              </li>
            </ul>
        </div>
        <div class="carrier_info">
          <div class="logo">
              <img src="/images/no_image.png" alt="{{ result.name }}" ng-src="{{ result.logo }}" />
            </div>
            <div class="address">
              <p><span>{{ result.name }}</span>
               {{ result.address1 }}<br>
                {{ result.city}}, {{ result.state}} {{ result.postal}} <br>
                <strong>Hours</strong> Mon-Sat {{result.startTime}} - {{result.endTime}} EST</p>
                <p class="api" ng-if="result.apiEnabled == 1">API Carrier</p>
                <p class="api" ng-if="result.apiEnabled == 0">NON API Carrier</p>
            </div>
        </div>
        <div class="contact_info">
          <h3>Update my contact with {{result.name}}</h3>
            <div class="form-group" ng-class="{'has-error' : carrier_{{$index}}.name_{{$index}}.$dirty && carrier_{{$index}}.name_{{$index}}.$invalid}">
                <label>Contact Name</label>
                <input type="text" name="name_{{$index}}" id="name_{{$index}}" class="form-control" placeholder="Your Name" ng-model="result.contactName" ng-required="!result.contactEmail.length && !result.contactPhone.length" ng-pattern="/^([a-zA-Z\s]{2,30})$/">
                <span class="help-block" ng-show="carrier_{{$index}}.name_{{$index}}.$dirty && carrier_{{$index}}.name_{{$index}}.$invalid">
                  <span ng-show="carrier_{{$index}}.name_{{$index}}.$error.required">Name is required.</span>
                  <span ng-show="carrier_{{$index}}.name_{{$index}}.$error.pattern">Name is invalid.</span>
                </span>
            </div>
            <div class="form-group" ng-class="{'has-error' : carrier_{{$index}}.email_{{$index}}.$dirty && carrier_{{$index}}.email_{{$index}}.$invalid}">
                <label>Contact Email</label>
                <input type="email" name="email_{{$index}}" id="email_{{$index}}" class="form-control" placeholder="you@xyz.com" ng-model="result.contactEmail" ng-required="result.contactEmail.length">
                <span class="help-block" ng-show="carrier_{{$index}}.email_{{$index}}.$dirty && carrier_{{$index}}.email_{{$index}}.$invalid">
                  <span ng-show="carrier_{{$index}}.email_{{$index}}.$error.required">Email is required.</span>
                  <span ng-show="carrier_{{$index}}.email_{{$index}}.$error.email">Email is invalid.</span>
                </span>
            </div>
            <div class="form-group" ng-class="{'has-error' : carrier_{{$index}}.phone_{{$index}}.$dirty && carrier_{{$index}}.phone_{{$index}}.$invalid}">
                <label>Contact Phone</label>
                <input type="text" name="phone_{{$index}}" id="phone_{{$index}}" class="form-control" placeholder="+1251123456" ng-model="result.contactPhone" ng-pattern="/^(?:[\+]{1})?([0-9]{8,12})$/" ng-required="result.contactPhone.length">
                <span class="help-block" ng-show="carrier_{{$index}}.phone_{{$index}}.$dirty && carrier_{{$index}}.phone_{{$index}}.$invalid">
                  <span ng-show="carrier_{{$index}}.phone_{{$index}}.$error.required">Phone number is required</span>
                  <span ng-show="carrier_{{$index}}.phone_{{$index}}.$error.pattern">Please write a valid phone number</span>
                </span>
            </div>
        </div>
    </div>
  </form>
</div>