.main-menu{
    background:#408800 !important;
}
.add-new-shipment{
    .btn-new{
        background:#408800 !important;
    }
}
.filter-head{
    h2{
        color:#408800 !important;
    }
}
.shipment-status-list{
    h2{
        background:url('../images/eq-type-icon-green.png') no-repeat 0 0 !important;
    }
}
.shipment-status{
    h2{
        background:url('../images/eq-type-icon-green.png') no-repeat 0 0 !important;
    }
}
.leftnavbar-wrapper{
    .eq-type{
        h2{
            background:url('../images/eq-type-icon-green.png') no-repeat 0 0 !important;
        }
    }
}
.customer-info{
    h2{
        background:url('../images/customer-icon-green.png') no-repeat 0 0 !important;
    }
}
.pricing{
    h2{
        background:url('../images/pricing-icon-green.png') no-repeat 0 0 !important;
    }
}
.edi-block{
    h2{
        background:url('../images/edi-icon-green.png') no-repeat 0 0 !important;
    }
}
.date-select{
    h2{
        background:url('../images/date-icon-green.png') no-repeat 0 0 !important;
    }
}
.leftnavbar-wrapper{
    .service-area{
        h2{
            background:url('../images/service-area-icon-green.png') no-repeat 0 0 !important;
        }
    }
}
.pricing{
    h2.transit{
        background:url('../images/transit-icon-green.png') no-repeat 0 0 !important;
    }
}
.leftnavbar-wrapper{
    .receivable{
        h2{
            background:url('../images/receivable-icon-green.png') no-repeat 0 0 !important;
        }
    }
}
.add-new-shipment{
    .input-group-btn{
        .btn-default{
            background:#408800 !important;
        }
    }
}
.filter-block{
    h3{
        color:#408800 !important;
    }
}
.showArchieved{
    background:#408800 !important;
}
.resp-tabs-list{
    background:#408800 !important;
    li.resp-tab-item{
        color:#fff !important;
    }
    li.resp-tab-active{
        color:#408800 !important;
    }
}
.sky-blue{
    color:#408800 !important;
}
.panel-primary > .panel-heading{
    background-color:#408800 !important;
    border-color:#408800 !important;
}
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus{
    background-color:#408800 !important;
    border-color:#408800 !important;
}
.check_calls_textarea{
    button{
        background:linear-gradient(#72c924, #408800) !important;
        border-color:#408800 !important;
        &:hover{
            background:linear-gradient(#408800, #72c924) !important;
        }
    }
}
.inputuploadhld{
    button{
        background:linear-gradient(#72c924, #408800) !important;
        border-color:#408800 !important;
        &:hover{
            background:linear-gradient(#408800, #72c924) !important;
        }
    }
}
.btn-cont{
    .btn-primary{
        background:linear-gradient(#72c924, #408800) !important;
        border-color:#408800 !important;
        &:hover{
            background:linear-gradient(#408800, #72c924) !important;
        }
    }
}
.lancecount_table{
    td{
        button{
            background:linear-gradient(#72c924, #408800) !important;
            border-color:#408800 !important;
            &:hover{
                background:linear-gradient(#408800, #72c924) !important;
            }
        }
    }
}
.expiring_contracts{
    .dropdown{
        button{
            background:linear-gradient(#72c924, #408800) !important;
            border-color:#408800 !important;
            &:hover{
                background:linear-gradient(#408800, #72c924) !important;
            }
        }
    }
}
.contract_buttons{
    .download_excel{
        background:linear-gradient(#72c924, #408800) !important;
        border-color:#408800 !important;
        &:hover{
            background:linear-gradient(#408800, #72c924) !important;
        }
    }
}
.contract_table{
    .upload_rate{
        button{
            background:linear-gradient(#72c924, #408800) !important;
            border-color:#408800 !important;
            &:hover{
                background:linear-gradient(#408800, #72c924) !important;
            }
        }
    }
}
.leftnavbar-wrapper{
    .input-group-btn{
        .btn-default{
            background:#408800 !important;
        }
    }
}
.contract_table{
    .file_upload{
        button{
            background:linear-gradient(#72c924, #408800) !important;
            border-color:#408800 !important;
            &:hover{
                background:linear-gradient(#408800, #72c924) !important;
            }
        }
    }
}
.load_entry_top{
    .mid_row{
        .mid_row_inner{
            .input-group-btn{
                .btn-default{
                    background:#408800 !important;
                }
            }
        }
    }
}
.load_entry_mid{
    .mid_box{
        .mid_box_head{
            button{
                background:linear-gradient(#72c924, #408800) !important;
                border-color:#408800 !important;
                &:hover{
                    background:linear-gradient(#408800, #72c924) !important;
                }
            }
        }
    }
}
.load_entry_mid{
    .mid_box{
        .mid_box_body{
            .input-group-btn{
                .btn-default{
                    background:#408800 !important;
                }
            }
        }
    }
}
.rate_test{
    .table-responsive{
        table{
            td{
                .download_excel{
                    background:linear-gradient(#72c924, #408800) !important;
                    border-color:#408800 !important;
                    &:hover{
                        background:linear-gradient(#408800, #72c924) !important;
                    }
                }
            }
        }
    }
}

.rate_test{
	.download_excel{
		background:linear-gradient(#72c924, #408800) !important;
		border-color:#408800 !important;
		&:hover{
			background:linear-gradient(#408800, #72c924) !important;
		}
	}
}

.receivable_top{
    .btn-primary{
        background:linear-gradient(#72c924, #408800) !important;
        border-color:#408800 !important;
        &:hover{
            background:linear-gradient(#408800, #72c924) !important;
        }
    }
}
.scan_check{
    .btn-primary{
        background:linear-gradient(#72c924, #408800) !important;
        border-color:#408800 !important;
        &:hover{
            background:linear-gradient(#408800, #72c924) !important;
        }
    }
}
.reg_steps{
    li.active{
        span{
            background-color:#408800 !important;
        }
    }
}
.connect_buttons{
    .btn-primary{
        background:linear-gradient(#72c924, #408800) !important;
        border-color:#408800 !important;
        &:hover{
            background:linear-gradient(#408800, #72c924) !important;
        }
    }
}
.setup_connectivity{
    .connectivity_box{
        .connection_status{
            .btn-primary{
                background:linear-gradient(#72c924, #408800) !important;
                border-color:#408800 !important;
                &:hover{
                    background:linear-gradient(#408800, #72c924) !important;
                }
            }
        }
    }
}
.menu-search{
    .input-group-btn{
        .btn-default{
            background:#2c5d00 !important;
            border-color:#2c5d00 !important;
        }
    }
}
.slide-range{
    .irs-bar{
        background:#408800 !important;
        border-color:#408800 !important;
    }
}
.career-table{
    td{
        button{
            background:linear-gradient(#72c924, #408800) !important;
            border-color:#408800 !important;
            &:hover{
                background:linear-gradient(#408800, #72c924) !important;
            }
        }
    }
}
.panel-primary{
    border-color:#408800 !important;
}
.tab-hld{
    border-color:#408800 !important;
}
.carrier-tab{
    .row{
        .form-group{
            button{
                background:linear-gradient(#72c924, #408800) !important;
                border-color:#408800 !important;
                &:hover{
                    background:linear-gradient(#408800, #72c924) !important;
                }
            }
        }
    }
}


.toggle-menu {
    color:#fff !important;
    background: url('../images/filter-menu.png') no-repeat 0 0;
}
.main-menu .navbar-nav > li > a{
    color:#fff !important;
}
.main-menu .navbar-nav > li > a:hover{
    color:#eac510 !important;
}
.icon-set{
    background-image: url('../images/sprite.png') !important;
}
.panel-title{
    color:#fff !important;
}  
.dashboard_top{
	background:#408800 !important;
}
.career_search{
	.input-group-btn{
		.btn-default{
			background:#408800 !important;
			border-color: #408800 !important;
		}
	}
}
.balance_list li.credit {
    color: #000;
}
                    

